.first-heading{
    color: rgb(220, 29, 29);
    text-align: center;
    font-family: Arial;
}
.form-box {
    width: 180px; /* Adjust the width as needed */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color:lightblue;
    position: relative;
}
.my-Label{
    font-family: Arial;
    position: absolute;
    left: 35%;

}